@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilroy-Regular:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilroy-Medium:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  margin: 0px;
  line-height: normal;
  padding: 0px;
  float: left;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  background: #f8f7fa;
}
*,
::before,
::after {
  border-width: 0;
}
*{
  margin: 0px;
  padding: 0px;

}
html{
  height: auto;
}
.text-\[0\.938rem\] {
  font-size: 14px;
}
.font-light-button-2-button-default {
  font-family: 'Public Sans';
}
.text-left {
  text-align: left;
}
.gap-\[2rem\] {
  gap: 1rem;
}
.pt-\[0rem\] {
  padding-top: 0rem;
}
.pb-\[0\.625rem\] {
  padding-bottom: 0.625rem;
}
.px-\[0rem\] {
  padding-left: 0rem;
  padding-right: 0rem;
}
.py-\[1\.25rem\] {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-\[1rem\] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.w-\[1\.5rem\] {
  width: 20px;
}
.h-\[1\.5rem\] {
  height: 20px;
}
.w-\[22\.5rem\] {
  width: 15.5rem;
}
.gap-\[6\.75rem\] {
  gap: 1.75rem;
}
.gap-\[1\.5rem\] {
  gap: 1rem;
}
.py-\[0\.75rem\] {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.w-\[91\.875rem\] {
  width: 61rem;
}
.p-\[2rem\] {
  padding: 1rem;
}
.text-\[1\.5rem\] {
  font-size: 1rem;
}
.text-\[1\.75rem\] {
  font-size: 1rem;
}
.w-\[3\.438rem\] {
  width: 2.438rem;
}
.text-\[1rem\] {
  font-size: 12px;
}
.py-\[1\.5rem\] {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.gap-\[1\.25rem\] {
  gap: 1rem;
}
.rounded-lg.flex.flex-col.items-start.justify-center {
  margin-top: 8px;
}
.w-\[92\.063rem\] {
  width: 100%;
}
.w-\[85\.819rem\] {
  width: 95%;
}
.left-\[2\.506rem\] {
  left: 1rem;
}
.w-\[87\.1rem\] {
  width: 99.5%;
}
.text-\[2\.5rem\] {
  font-size: 1.5rem;
}
.border-light-solid-color-gray-gray-400 {
  border-color: rgb(142 136 136 / 60%);
}
.w-\[87\.1rem\] {
  width: 98.8%;
}